*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}
.header{
    font-size: larger;
    background-color: rgb(14, 14, 14);
    height: 40px;
    padding: 30px;
}

.header  a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2.5px;

}

header a:hover{
    color:black;
    transition: all, .2s;
}

.header-nav{
    padding: 0 80px;
}

.header-nav-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.container{
    width:80%;
    margin: 0 auto;
}


footer{
    margin-top: 30%;
    padding: 30px;
    background-color: black;
    color: white;
}